Package: kconfig-ref
Fetcher: github
Source:  https://github.com/seokbeomKim/kconfig-ref.git

Updating /mnt/store/melpa/working/kconfig-ref/
Checking out dfb127fa5ac003a06f108d2e876c84a1931e5678
Built kconfig-ref in 6.445s, finished at 2023-04-06T13:10:48+0000
 ✓ Success:
8.0K -rw-r--r-- 1 root root 5.8K Apr  6 13:10 packages/kconfig-ref-20230220.1207.el
4.0K -rw-r--r-- 1 root root  498 Apr  6 13:10 packages/kconfig-ref-20230220.1207.entry
