Package: kconfig-mode
Fetcher: github
Source:  https://github.com/delaanthonio/kconfig-mode.git

Updating /mnt/store/melpa/working/kconfig-mode/
Built kconfig-mode in 4.236s, finished at Fri Mar 26 03:14:50 2021
 ✓ Success:
8.0K -rw-r--r-- 1 root root 5.1K Mar 26 03:14 packages/kconfig-mode-20210321.1106.el
4.0K -rw-r--r-- 1 root root  422 Mar 26 03:14 packages/kconfig-mode-20210321.1106.entry
4.0K -rw-r--r-- 1 root root 1.2K Mar 26 03:14 packages/kconfig-mode-badge.svg
4.0K -rw-r--r-- 1 root root   81 Mar 26 03:14 packages/kconfig-mode-readme.txt
