Package: kconfig-ref
Fetcher: github
Source:  https://github.com/seokbeomKim/kconfig-ref.git

Updating /mnt/store/melpa/working/kconfig-ref/
Checking out dfb127fa5ac003a06f108d2e876c84a1931e5678
Copying files (->) and directories (=>)
  from /mnt/store/melpa/working/kconfig-ref/
  to /tmp/kconfig-refJxz49p/kconfig-ref-20230220.1207
    kconfig-ref.el -> kconfig-ref.el
Created kconfig-ref-20230220.1207.tar containing:
  kconfig-ref-20230220.1207/
  kconfig-ref-20230220.1207/kconfig-ref-pkg.el
  kconfig-ref-20230220.1207/kconfig-ref.el
Built kconfig-ref in 3.308s, finished at 2023-06-22T06:34:25+0000
 ✓ Success:
8.0K -rw-r--r-- 1 root root 5.8K Jun  9 16:16 packages/kconfig-ref-20230220.1207.el
4.0K -rw-r--r-- 1 root root  560 Jun 22 06:34 packages/kconfig-ref-20230220.1207.entry
 12K -rw-r--r-- 1 root root  10K Jun 22 06:34 packages/kconfig-ref-20230220.1207.tar
