Package: kconfig-ref
Fetcher: github
Source:  https://github.com/seokbeomKim/kconfig-ref

Updating /mnt/store/melpa/working/kconfig-ref/
Checking out a3f602032cd3b9a7167505bd8ad0f156ae34c0b8
Copying files (->) and directories (=>)
  from /mnt/store/melpa/working/kconfig-ref/
  to /tmp/kconfig-refNNMx50/kconfig-ref-20230814.1052
    kconfig-ref.el -> kconfig-ref.el
Created kconfig-ref-20230814.1052.tar containing:
  kconfig-ref-20230814.1052/
  kconfig-ref-20230814.1052/kconfig-ref-pkg.el
  kconfig-ref-20230814.1052/kconfig-ref.el
 ✓ Success:
  2025-03-06T00:23:26+0000  kconfig-ref-20230814.1052.entry
  2025-03-06T00:23:26+0000  kconfig-ref-20230814.1052.tar
Built kconfig-ref in 2.989s, finished at 2025-03-06T00:23:27+0000
