(kconfig-mode .
	      [(20211018 2142)
	       ((emacs
		 (24 3)))
	       "Major mode for editing Kconfig files" single
	       ((:commit . "241436a507782d18f09dab7d1f373ddea60fad3d")
		(:authors
		 ("Dela Anthonio" . "dell.anthonio@gmail.com"))
		(:maintainer "Dela Anthonio" . "dell.anthonio@gmail.com")
		(:keywords "kconfig" "languages" "linux" "kernel")
		(:url . "https://github.com/delaanthonio/kconfig-mode"))])
