Package: kconfig-mode
Fetcher: github
Source:  https://github.com/delaanthonio/kconfig-mode.git

Updating /mnt/store/melpa/working/kconfig-mode/
Built kconfig-mode in 4.698s, finished at Sun Feb  7 10:38:46 2021
 ✓ Success:
8.0K -rw-r--r-- 1 root root 5.1K Feb  7 10:38 packages/kconfig-mode-20200628.1721.el
4.0K -rw-r--r-- 1 root root  422 Feb  7 10:38 packages/kconfig-mode-20200628.1721.entry
4.0K -rw-r--r-- 1 root root 1.2K Feb  7 10:38 packages/kconfig-mode-badge.svg
4.0K -rw-r--r-- 1 root root   81 Feb  7 10:38 packages/kconfig-mode-readme.txt
