 • Building package kconfig-mode (from github:delaanthonio/kconfig-mode)...
Updating /mnt/store/melpa/working/kconfig-mode/
Checking out cd87b71c8c1739d026645ece0bbd20055a7a2d4a
Copying files (->) and directories (=>)
  from /mnt/store/melpa/working/kconfig-mode/
  to /tmp/kconfig-modeZHjx2U/kconfig-mode-20220604.1415
    kconfig-mode.el -> kconfig-mode.el
Created kconfig-mode-20220604.1415.tar containing:
  kconfig-mode-20220604.1415/
  kconfig-mode-20220604.1415/kconfig-mode-pkg.el
  kconfig-mode-20220604.1415/kconfig-mode.el
 ✓ Success:
  2026-02-05T14:34:08+0000  kconfig-mode-20220604.1415.entry
  2026-02-05T14:34:08+0000  kconfig-mode-20220604.1415.tar
Built kconfig-mode in 3.412s, finished at 2026-02-05T14:34:09+0000
