(kconfig-mode .
	      [(20220604 1415)
	       ((emacs
		 (24 3)))
	       "Major mode for editing Kconfig files" tar
	       ((:commit . "cd87b71c8c1739d026645ece0bbd20055a7a2d4a")
		(:authors
		 ("Dela Anthonio" . "dell.anthonio@gmail.com"))
		(:maintainers
		 ("Dela Anthonio" . "dell.anthonio@gmail.com"))
		(:maintainer "Dela Anthonio" . "dell.anthonio@gmail.com")
		(:keywords "kconfig" "languages" "linux" "kernel")
		(:url . "https://github.com/delaanthonio/kconfig-mode"))])
