Package: kconfig-ref
Fetcher: github
Source:  https://github.com/seokbeomKim/kconfig-ref.git

Updating /mnt/store/melpa/working/kconfig-ref/
Checking out dfb127fa5ac003a06f108d2e876c84a1931e5678
Built kconfig-ref in 4.426s, finished at 2023-05-10T00:53:53+0000
 ✓ Success:
8.0K -rw-r--r-- 1 root root 5.8K May 10 00:53 packages/kconfig-ref-20230220.1207.el
4.0K -rw-r--r-- 1 root root  563 May 10 00:53 packages/kconfig-ref-20230220.1207.entry
