Package: kconfig-ref
Fetcher: github
Source:  https://github.com/seokbeomKim/kconfig-ref.git

Updating /mnt/store/melpa/working/kconfig-ref/
Checking out d2f27295053805c5ef4eea5f74e1920f4a24cb25
Copying files (->) and directories (=>)
  from /mnt/store/melpa/working/kconfig-ref/
  to /tmp/kconfig-reftQX9bk/kconfig-ref-20230805.737
    kconfig-ref.el -> kconfig-ref.el
Created kconfig-ref-20230805.737.tar containing:
  kconfig-ref-20230805.737/
  kconfig-ref-20230805.737/kconfig-ref-pkg.el
  kconfig-ref-20230805.737/kconfig-ref.el
Built kconfig-ref in 6.013s, finished at 2023-08-13T06:47:09+0000
 ✓ Success:
4.0K -rw-r--r-- 1 root root 531 Aug 13 06:47 packages/kconfig-ref-20230805.737.entry
 32K -rw-r--r-- 1 root root 30K Aug 13 06:47 packages/kconfig-ref-20230805.737.tar
