Package: kconfig-mode
Fetcher: github
Source:  https://github.com/delaanthonio/kconfig-mode.git

Updating /mnt/store/melpa/working/kconfig-mode/
Built kconfig-mode in 4.872s, finished at Sun Jan 24 18:36:34 2021
 ✓ Success:
8.0K -rw-r--r-- 1 root root 5.1K Jan 24 18:36 packages/kconfig-mode-20200628.1721.el
4.0K -rw-r--r-- 1 root root  422 Jan 24 18:36 packages/kconfig-mode-20200628.1721.entry
4.0K -rw-r--r-- 1 root root 1.2K Jan 24 18:36 packages/kconfig-mode-badge.svg
4.0K -rw-r--r-- 1 root root   81 Jan 24 18:36 packages/kconfig-mode-readme.txt
