Package: kconfig-mode
Fetcher: github
Source:  https://github.com/delaanthonio/kconfig-mode.git

Updating /mnt/store/melpa/working/kconfig-mode/
Built kconfig-mode in 4.317s, finished at 2021-07-08T00:57:53+0000
 ✓ Success:
8.0K -rw-r--r-- 1 root root 5.1K Jul  8 00:57 packages/kconfig-mode-20210321.1106.el
4.0K -rw-r--r-- 1 root root  422 Jul  8 00:57 packages/kconfig-mode-20210321.1106.entry
4.0K -rw-r--r-- 1 root root 1.2K Jul  8 00:57 packages/kconfig-mode-badge.svg
4.0K -rw-r--r-- 1 root root   81 Jul  8 00:57 packages/kconfig-mode-readme.txt
