
 • Building package kconfig-mode
From https://github.com/delaanthonio/kconfig-mode
Updating /mnt/store/melpa/working/kconfig-mode/
Checking out cd87b71c8c1739d026645ece0bbd20055a7a2d4a
Copying files (->) and directories (=>)
  from /mnt/store/melpa/working/kconfig-mode/
  to /tmp/kconfig-mode-6VVvNI/kconfig-mode-20220604.1415/
    kconfig-mode.el -> kconfig-mode.el
Created kconfig-mode-20220604.1415.tar containing:
  kconfig-mode-20220604.1415/
  kconfig-mode-20220604.1415/kconfig-mode-pkg.el
  kconfig-mode-20220604.1415/kconfig-mode.el
Built kconfig-mode in 3.385s, finished at 2026-07-15T14:03:21+0000
